/* .bod{
    background-image: url("../img/bgimage.jpg");
   
      background-image:repeat;
} */

#contact_links img{
    max-height: 40px;
    max-width: 40px;
  
  }


  @media screen and (max-width:768px) {
    main{padding-top:5rem!important;
        }
    h1{
    font-size: 10vw;
        }
    } 